<b>NOTE:</b> Please run these commands from within the cd_hit_py root folder

In [8]:
import pandas as pd
from cd_hit import CD_HIT_2D

### filter sequence from db2 which are not similar to sequences in db1 and export result to a fasta file

In [12]:
cdh2d = CD_HIT_2D(word_length=3)

In [10]:
db1 = "test_seq.fasta"
db2 = "test_seq2.fasta"
out_file = "cdhit_2d_filtered.fasta"

In [13]:
cdh2d.from_file(db1, db2, out_file, threshold=0.7)

/Users/in-divye.singh/anaconda3/envs/life-science/bin/cd-hit-2d -i test/test_seq.fasta -i2 test/test_seq2.fasta -o test/cdhit_2d_filtered.fasta -c 0.7 -G 1 -b 20 -M 400 -n 3 -l 10 -t 2 -d 20 -s 0.0 -s2 1.0 -S 999999 -S2 0 -aL 0.0 -AL 99999999 -aS 0.0 -AS 99999999 -B 0 -p 0 -T 1 -g 0

### filter sequence from seq_list2 which are not similar to sequences in seq_list1

In [14]:
inp1 = pd.read_csv("test_seq.csv")
inp2 = pd.read_csv("test_seq2.csv")

In [19]:
inp1

     Header                                    Sequence
0   AP00034        WNPFKELERAGQRVRDAVISAAAVATVGQAAAIARG
1   AP00036      DFASCHTNGGICLPNRCPGHMIQIGICFRPRVKCCRSW
2   AP00037    VRNHVTCRINRGFCVPIRCPGRTRQIGTCFGPRIKCCRSW
3   AP00038  QGVRNHVTCRINRGFCVPIRCPGRTRQIGTCFGPRIKCCRSW
4   AP00039   QRVRNPQSCRWNMGVCIPFLCRVGMRQIGTCFGPRVPCCRR
5   AP00040  QVVRNPQSCRWNMGVCIPISCPGNMRQIGTCFGPRVPCCRRW
6   AP00041  QGVRNHVTCRIYGGFCVPIRCPGRTRQIGTCFGRPVKCCRRW
7   AP00042    QGVRNFVTCRINRGFCVPIRCPGHRRQIGTCLGPRIKCCR
8   AP00043      VRNFVTCRINRGFCVPIRCPGHRRQIGTCLGPQIKCCR
9   AP00044    QGVRNFVTCRINRGFCVPIRCPGHRRQIGTCLAPQIKCCR
10  AP00045    QGVRSYLSCWGNRGICLLNRCPGRMRQIGTCLAPRVKCCR
11  AP00046      GPLSCRRNGGVCIPIRCPGPMRQIGTCFGRPVKCCRSW
12  AP00047      GPLSCGRNGGVCIPIRCPVPMRQIGTCFGRPVKCCRSW
13  AP00048  SGISGPLSCGRNGGVCIPIRCPVPMRQIGTCFGRPVKCCRSW
14  AP00049                    GIGALSAKGALKGLAKGLAEHFAN

In [20]:
inp2

     Header                                  Sequence
0   AP00051               GIGSAILSAGKSALKGLAKGLAEHFAN
1   AP00052                 GIGAAILSAGKSALKGLAKGLAEHF
2   AP00053                 GIGAAILSAGKSIIKGLANGLAEHF
3   AP00054               GIGGALLSAGKSALKGLAKGLAEHFAN
4   AP00045  QGVRSYLSCWGNRGICLLNRCPGRMRQIGTCLAPRVKCCR
5   AP00046    GPLSCRRNGGVCIPIRCPGPMRQIGTCFGRPVKCCRSW
6   AP00083     GILSLVKGVAKLAGKGLAKEGGKFGLELIACKIAKQC
7   AP00084     GIFSLVKGAAKLAGKGLAKEGGKFGLELIACKIAKQC
8   AP00085         SLFSLIKAGAKFLGKNLLKQGACYAACKASKQC
9   AP00086         GIMSIVKDVAKNAAKEAAKGALSTLSCKLAKTC
10  AP00087         GIMSIVKDVAKTAAKEAAKGALSTLSCKLAKTC

In [29]:
seq_list1 = inp1.Sequence.to_list()
header1 = inp1.Header.to_list()

seq_list2 = inp2.Sequence.to_list()
header2 = inp2.Header.to_list()

In [31]:
filtered_header, filtered_seq = cdh2d.from_list(seq_list1, header1,
                                                seq_list2, header2,
                                                threshold=0.5)

/Users/in-divye.singh/anaconda3/envs/life-science/bin/cd-hit-2d -i /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmp2xo1hxt9 -i2 /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmpp05jm9er -o /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmpjyn76nio -c 0.5 -G 1 -b 20 -M 400 -n 3 -l 10 -t 2 -d 20 -s 0.0 -s2 1.0 -S 999999 -S2 0 -aL 0.0 -AL 99999999 -aS 0.0 -AS 99999999 -B 0 -p 0 -T 1 -g 0

In [32]:
filtered_seq

['GIGSAILSAGKSALKGLAKGLAEHFAN',
 'GIGAAILSAGKSALKGLAKGLAEHF',
 'GIGAAILSAGKSIIKGLANGLAEHF',
 'GIGGALLSAGKSALKGLAKGLAEHFAN',
 'GILSLVKGVAKLAGKGLAKEGGKFGLELIACKIAKQC',
 'GIFSLVKGAAKLAGKGLAKEGGKFGLELIACKIAKQC',
 'SLFSLIKAGAKFLGKNLLKQGACYAACKASKQC',
 'GIMSIVKDVAKNAAKEAAKGALSTLSCKLAKTC',
 'GIMSIVKDVAKTAAKEAAKGALSTLSCKLAKTC']

### filter sequence from seq_list2 which are not similar to sequences in seq_list1 and export as fasta file

In [14]:
inp1 = pd.read_csv("test_seq.csv")
inp2 = pd.read_csv("test_seq2.csv")
out_file = "cdhit_2d_filtered.fasta"

In [33]:
seq_list1 = inp1.Sequence.to_list()
header1 = inp1.Header.to_list()

seq_list2 = inp2.Sequence.to_list()
header2 = inp2.Header.to_list()

In [21]:
filtered_header, filtered_seq = cdh2d.from_list(seq_list1, header1,
                                                seq_list2, header2,
                                                threshold=0.5, output_fasta_file = out_file)

/Users/in-divye.singh/anaconda3/envs/life-science/bin/cd-hit-2d -i /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmp46dg5umu -i2 /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmpsfnmiemg -o /var/folders/sz/zyss4sfs3fdb9rbb99x1ch480000gn/T/tmpohllyjid -c 0.7 -G 1 -b 20 -M 400 -n 3 -l 10 -t 2 -d 20 -s 0.0 -s2 1.0 -S 999999 -S2 0 -aL 0.0 -AL 99999999 -aS 0.0 -AS 99999999 -B 0 -p 0 -T 1 -g 0

In [22]:
filtered_seq

['GIGSAILSAGKSALKGLAKGLAEHFAN',
 'GIGAAILSAGKSALKGLAKGLAEHF',
 'GIGAAILSAGKSIIKGLANGLAEHF',
 'GIGGALLSAGKSALKGLAKGLAEHFAN',
 'GILSLVKGVAKLAGKGLAKEGGKFGLELIACKIAKQC',
 'GIFSLVKGAAKLAGKGLAKEGGKFGLELIACKIAKQC',
 'SLFSLIKAGAKFLGKNLLKQGACYAACKASKQC',
 'GIMSIVKDVAKNAAKEAAKGALSTLSCKLAKTC',
 'GIMSIVKDVAKTAAKEAAKGALSTLSCKLAKTC']

#### If input files only has sequences, header list can be created as follows

In [23]:
header1 = ["seq"+str(i) for i in range(len(inp1))]

In [25]:
header1

['seq0',
 'seq1',
 'seq2',
 'seq3',
 'seq4',
 'seq5',
 'seq6',
 'seq7',
 'seq8',
 'seq9',
 'seq10',
 'seq11',
 'seq12',
 'seq13',
 'seq14']

In [24]:
header2 = ["seq"+str(i) for i in range(len(inp2))]

In [26]:
header2

['seq0',
 'seq1',
 'seq2',
 'seq3',
 'seq4',
 'seq5',
 'seq6',
 'seq7',
 'seq8',
 'seq9',
 'seq10']